@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
text-decoration: none;
}
body{
    font-family: "Roboto",sans-serif;
    margin: 0;
    padding: 0;
box-sizing: border-box;
outline: none;
text-decoration: none;
background-color: #011f3bfb;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.card-js,.card-html,.card-css{
    margin: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 35px #a5a207d8;
    width: 100%;
    max-width: 500px;
}
.card-html{
    box-shadow: 0px 10px 35px #e7900dd8;
}
.card-css{
    box-shadow: 0px 10px 35px #e04fe0d8;
}
.mediaCard-js,.mediaCard-html,.mediaCard-css{
    background: url("./img/javascript01.svg") center/cover;
    width: 100%;
    height: 300px;
    
}
.mediaCard-html{
    background: url("./img/html.svg") center/cover;
}
.mediaCard-css{
    background: url("./img/css.svg") center/cover;
}
.topCard{
    margin-top: 20px;
    padding: 20px;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 10px;
}
.title-js,.title-css,.title-html{

    margin-bottom: 10px;
}

.bottomCard{
    padding: 10px;
}

.actionsCard{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.actions{
    background: #068b7a;
    width: 80%;
    height: 30px;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    font-size: 13pt;
    font-weight: 800;
    margin: 10px;
    box-shadow: 0px 2px 20px #076ba56c;
    transition: background .5s ease-in-out;
    cursor: pointer;
    
}
.actions:hover{
    background: #03054d;
}
.title-js,.title-html,.title-css{
    color: #92a014e8;
    font-weight: 700;
    font-size: 18pt;
}

.title-html{
    color: #e7900dd8;
}
.title-css{
    color:  #e04fe0d8;
}

.secondText{
    color: #0284acc4;
    text-align: justify;
    letter-spacing:0.2px;
}
.bottomText{
    color: #03054d;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing:2px;
}

.actions a{
    color: #ffffff;
}